.link {
    color: rgba(214, 199, 196, 0.788)
}

.link:hover {
    color: whitesmoke
}

.grid-container {
    list-style-type: none;
  }

.grid-item {
    display: inline-table;
    width: 250px;
}