{% extends "workforce/index.html" %}

{% block content %}
<div class="container">
<h1 class="mt-4 mb-3">Add a Department </h1>

<form action="{% url 'workforce:addDepartment' %}" method='POST'>
    {% csrf_token %}
    <label for="dept_name">Department Name</label>
    <input type="text" name="department_name" id="dept_name">
    <label for="dept_budget" class="ml-2">Department Budget</label>
    <input type="text" name="department_budget" id="dept_budget">

    <input type="submit" value="Save Department" class="btn btn-info ml-3">
</form>
</div>
{% endblock content %}