<h3>Fill out the info for the new Employee</h3>

<form action="{% url 'workforce:addEmployee' %}" method="post">
    {% csrf_token %}
    First Name:
    <input type="text" name="firstName" /><br>
    Last Name:
    <input type="text" name="lastName" /><br>
    Start Date:
    <input type="date" name="startDate" /><br>
    Supervisor:
    <input type="checkbox" name="supervisor" value="1">Is Supervisor<br>
    Department:
    <select name="department">
        <option value="1">HR</option>
        <option value="2">Sales</option>
        <option value="3">Administration</option>
    </select><br>
    <input type="submit" value="Save" />
</form>