{% extends "workforce/index.html" %}

{% block content %}
<h1>Departments</h1>
{% if latest_dept_list %}
    <ul>
    {% for dept in latest_dept_list %}
        <li><a href="{% url 'workforce:departmentDetail' dept.id %}">{{ dept.name }}</a><p>Budget: ${{dept.budget}}</p><p>Department Size: {{dept.employeeCount}}</p>
        </li>
        </br>
        {% endfor %}
    </ul>
    <!-- <a href="/home">Go Back</a> -->
{% else %}
    <p>No departments Available.</p>
{% endif %}
<a href="{% url 'workforce:departmentForm' %}"><button type="button">Add New Department</button></a>

{% endblock content %}

