{% extends "workforce/index.html" %}

{% block content %}
<div class="container">
<h1 class="mt-4 mb-3">Departments</h1>
{% if latest_dept_list %}
    <div class="row">
    {% for dept in latest_dept_list %}
    <div class="col-sm">
        <div class="card bg-dark text-white">
            <div class="card-body">
                <h5 class="card-title mb-4 text-center">{{ dept.name }}</h5>
                <h6>Budget: ${{dept.budget}}</h6>
                <h6>Department Size: {{dept.employeeCount}}</h6>
                <div class="card-btn">
                <a class="card-link" href="{% url 'workforce:departmentDetail' dept.id %}"><button type="button" class="btn btn-outline-info mt-3">More Details</button></a>
                </div>

        </div>
        </div>
    </div>
        {% endfor %}
</div>
{% else %}
    <p>No departments Available.</p>
{% endif %}
<a href="{% url 'workforce:addDepartment' %}"><button type="button" class="btn btn-info mt-3">Create Department</button></a>

</div>
{% endblock content %}

