{% extends "workforce/index.html" %}

{% block content %}
<h1>{{ employee.firstName }} {{ employee.lastName}}</h1>
<ul>
    <li>Department: {{ employee.department }}
        {% if employee.isSupervisor == 1 %}
        <i>supervisor</i>
        {% endif %}
    </li>
</ul>
<h2>Training Programs</h2>
<ul>
    {% for program in training_programs %}
    <li>{{ program.trainingProgram.name }}, {{ program.trainingProgram.startDate}} - {{ program.trainingProgram.endDate}} </li>
    {% endfor %}
</ul>

{% endblock content %}
