{% extends "workforce/index.html" %}

{% block content %}
<div class="container">
<h1 class="mt-4 mb-3">{{ employee.firstName }} {{ employee.lastName}}</h1>
    <p>Department: {{ employee.department }}
        {% if employee.isSupervisor == 1 %}
        <i>supervisor</i>
        {% endif %}
    </p>
<h3>Training Programs</h3>
<ul class="list-group">
    {% for program in training_programs %}
    <li class="list-group-item">{{ program.trainingProgram.name }}, {{ program.trainingProgram.startDate}} - {{ program.trainingProgram.endDate}} </li>
    {% endfor %}
</ul>
</div>
{% endblock content %}
