{% extends "workforce/index.html" %}

{% block content %}
<h1> All Employees </h1>

<ul>
    {% for employee in all_employees %}
    <div class='grid-container'>
    <li><a href="{% url 'workforce:employeeDetail' employee.id %}">
        <div class="grid-item">{{ employee.firstName }} {{ employee.lastName }}</div> </a>
        <div class="grid-item">{{ employee.department }}</div></li>
    </div>
    {% endfor %}
</ul>

<a href="{% url 'workforce:addEmployee' %}"><button type="button">Add New Employee</button></a>

{% endblock content %}
