{% extends "workforce/index.html" %}

{% block content %}
<div class="container">
<h1 class="mt-4 mb-3">All Employees</h1>

<ul class="list-group">
    {% for employee in all_employees %}
    <div class='grid-container'>
    <li class="list-group-item"><a class="text-info" href="{% url 'workforce:employeeDetail' employee.id %}">
        <div class="grid-item"><h4>{{ employee.firstName }} {{ employee.lastName }}</h4></div></a>
        <div class="grid-item"><h4>{{ employee.department }}</h4></div></li>
    </div>
    {% endfor %}
</ul>

<a href="{% url 'workforce:addEmployee' %}"><button type="button" class="btn btn-info mt-3">Add New Employee</button></a>
</div>
{% endblock content %}
