{% block nav %}

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/workforce">Workforce</a>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link link" href="{% url 'workforce:employeeList' %}"
        ><i class="far fa-user-circle"></i> Employees</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link link" href="{% url 'workforce:departmentList' %}"
        ><i class="far fa-building"></i> Departments</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link link" href="{% url 'workforce:training' %}"
        ><i class="far fa-calendar-alt"></i> Training Programs</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link link" href="{% url 'workforce:computers' %}"
        ><i class="fas fa-laptop"></i> Computers</a
      >
    </li>
  </ul>
</nav>

{% endblock %}
