{% extends "workforce/index.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-3">Training Program Details</h1>
    <div class="card program-card text-center">
            <div class="card-header text-muted">
                    <h4 class="card-title text-center">{{ program.name }}</h4>
                    <p>Max Attendees: {{ program.maxAttendees }}</p>
                </div>
        <div class="card-body text-left">
                <h5 class="text-center">Current Attendees</h5>
                {% for attendee in attendees %}
                <ul>
                    <li>{{ attendee.employee.firstName}} {{attendee.employee.lastName}}</li>
                </ul>
                {% endfor %}
           <div class="card-btn">
           <a href="{% url 'workforce:editTraining' program.id %}"><button type="button" class="btn btn-info">Edit Program</button></a>
        </div>
        </div>
        <div class="card-footer text-muted">
<h6 class="text-center">{{ program.startDate }} - {{ program.endDate }}</h6>
        </div>

    </div>



</div>
{% endblock content %}