{% extends "workforce/index.html" %}

{% block content %}
<div class="container">
<h1 class="mt-4 mb-3">{{ program.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'workforce:editProgram' program.id %}" method="post">
{% csrf_token %}
<label class="mr-3 mt-2">Program Name </label><input type="text" name="programName" value="{{ program.name }}"/><br><br>
<label class="mr-3">New Start Date </label><input type="date" name="startDate" value="{{ startDate }}" /><br><br>
<label class="mr-3">New End Date </label><input type="date" name="endDate" value="{{ endDate }}" /><br><br>
<label class="mr-3">Max Attendees </label><input type="text" name="maxAttendees" value="{{ program.maxAttendees }}"/><br><br>
<input type="submit" value="Edit Program" class="btn btn-info mt-2 d-inline"/>
<a href="{% url 'workforce:programsDetail' program.id %}"><button class="btn btn-secondary d-inline mt-2">Back</button></a>
</form>

</div>
{% endblock content %}
