{% extends "workforce/index.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-3">Training Program Details</h1>
    <div class="card program-card text-center">
            <div class="card-header text-muted">
                    <h4 class="card-title text-center">{{ program.name }}</h4>
                    <p>Max Attendees: {{ program.maxAttendees }}</p>
                </div>
        <div class="card-body text-left">
                <h5 class="text-center">Current Attendees</h5>
                <!-- <form action="{% url 'workforce:addAttendee' program.id %}" method="post" class="text-center mb-3">
                        {% csrf_token %}
                        <select name="nonAttendee" id="employees" >
                            {% for nonAttendee in nonAttendees %}
                            <option name="nonAttendee1" value="{{ nonAttendee.employee_id }}" class="d-inline">{{ nonAttendee.employee.firstName }} {{ nonAttendee.employee.lastName }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Add New Attendee" class="btn btn-info btn-sm"/>
                    </form> -->
                {% for attendee in attendees %}
                <ul>
                    <li>{{ attendee.employee.firstName}} {{attendee.employee.lastName}} <form action="{% url 'workforce:deleteAttendee' attendee.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <input type="submit" value="X" class="btn btn-danger btn-sm"/></form>
                        </form></li>
                </ul>
                {% endfor %}
           <div class="card-btn">
           <a href="{% url 'workforce:editTraining' program.id %}"><button type="button" class="btn btn-info d-inline">Edit Program</button></a>
           <a href="{% url 'workforce:deleteTraining' program.id %}"><button type="button" class="btn btn-secondary ml-2">Delete Program</button></a>
        </div>
        </div>
        <div class="card-footer text-muted">
<h6 class="text-center">{{ program.startDate }} - {{ program.endDate }}</h6>
        </div>

    </div>

</div>




{% endblock content %}