{% extends "workforce/index.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-3">Training Program Details</h1>
    <div class="card program-card text-center">
            <div class="card-header text-muted">
                    <h4 class="card-title text-center">{{ program.name }}</h4>
                    <p>Max Attendees: {{ program.maxAttendees }}</p>
                </div>
        <div class="card-body text-left">
                <h5 class="text-center">Current Attendees</h5>
                {% for attendee in attendees %}
                <ul>
                    <li>{{ attendee.employee.firstName}} {{attendee.employee.lastName}}</li>
                </ul>
                {% endfor %}
           <div class="card-btn">
           <a href="{% url 'workforce:editTraining' program.id %}"><button type="button" class="btn btn-info">Edit Program</button></a>
        </div>
        </div>
        <div class="card-footer text-muted">
<h6 class="text-center">{{ program.startDate }} - {{ program.endDate }}</h6>
        </div>

    </div>

</div>
<h4>Program Starts: {{ program.startDate }} </h4>
<h4>Program Ends: {{ program.endDate }} </h4>
<form action="{% url 'workforce:addAttendee' program.id %}" method="post">
    {% csrf_token %}
    <select name="nonAttendee" id="employees">
        {% for nonAttendee in nonAttendees %}
        <option name="nonAttendee1" value="{{ nonAttendee.id }}">{{ nonAttendee.firstName }} {{ nonAttendee.lastName }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Add new Attendee"/>
</form>
<h4>Current Attendees:</h4>
{% for attendee in attendees %}
<form action="{% url 'workforce:deleteAttendee' attendee.id %}" method="post">
    {% csrf_token %}
    <p> {{ attendee.employee.firstName}} {{attendee.employee.lastName}}&nbsp<input type="submit" value="Remove" /></p>
</form>
{% endfor %}
<h4>Max Attendees: {{ program.maxAttendees }} </h4>



<button><a href="{% url 'workforce:editTraining' program.id %}">Edit this Training Program</a></button>
<button><a href="{% url 'workforce:deleteTraining' program.id %}">Delete this Training Program</a></button>
{% endblock content %}