<h3>Fill out the info for your form</h3>

<form action="{% url 'workforce:addTraining' %}" method="post">
    {% csrf_token %}
    <label>Event Name:
        <input type="text" name="trainName" />
    </label>
    <label>Event Start Date:
        <input type="date" name="trainStart" />
    </label>
    <label>Event End Date:
        <input type="date" name="trainEnd" />
    </label>
    <label> Max Attendees:
        <input type="int" name="trainMax" />
    </label>
    <input type="submit" value="SAVE" />
</form>